.App {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

.userlist {
  list-style-type: none;
  padding: 0;
}
.userlist li {
  display: inline-block;
  background: #e2e2e2;
  padding: 0.3em 0.5em;
  border-radius: 1em;
}
.userlist li:not(:first-child) {
  margin-left: 0.5em;
}

.add-form {
  margin: 0.7em 0 1em 0;
}

.omikuji {
  cursor: pointer;
  display: inline-block;
  padding: 1em;
}
.omikuji img {
  background: #fff;
}
.omikuji:hover {
  animation: NAME-YOUR-ANIMATION 0.5s infinite;
}

@keyframes NAME-YOUR-ANIMATION {
  0% {
    background: red;
  }
  50% {
    background: yellow;
  }
  100% {
    background: red;
  }
}

.pixelated {
  image-rendering: pixelated;
}

.lucky-users {
  margin-top: 1em;
}

footer {
  font-size: .8em;
}